paint/elm-stuff
paint/development/app.js
paint/development/elm.js
paint/development/style.css
paint/distribution/

home/elm-stuff
home/development/app.js
home/development/elm.js
home/development/style.css
home/distribution

admin/elm-stuff
admin/development/app.js
admin/development/elm.js
admin/development/style.css
admin/distribution

node_modules
rethinkdb_data

secrets.json