app-bar-button 
    border-top 2px solid ignorable1
    border-left 2px solid ignorable1
    border-right 2px solid ignorable3
    padding-top 2px
    // border-bottom 2px solid ignorable1

    height 22px
    display inline
    padding-left 4px
    padding-right 4px
    margin-top 2px
    margin-left 4px
    float left
    text-align center
    
    cursor pointer
    
    &:hover
        words
            color pointier
    
    &.selected
        words
            color pointier

.button-bottom-border 
    color ignorable1
    margin 0
    border 1px solid
    margin-left -4px
    margin-top 2px
    width calc(100% + 6px)
    
    &.selected
        color ignorable2
        
