fieldlabel
    float left
    font-family hfnss
    color pointColor
    font-size 2em
    -webkit-font-smoothing none
    margin-top 5px

.field-container
    height 29px
    margin 0 auto
    margin-top 4px
    
    &.sign-in
        width 400px
        
    &.user
        width 450px
        
        fieldlabel
            width 120px
        
.field
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1

    outline none
    font-family HFNSS
    color pointColor
    font-size 2em
    background backgroundx2
    -webkit-font-smoothing none
    font-smooth none
    height 29px
    width 300px
    display block
    
    float right
  
    &.error
        border 2px solid critical
        background offBlue

