page
    width 100%
    height calc(100vh - 30px)
    top 34px
    position absolute
    
left-container
    width 550px
    height calc(100vh - 64px)
    position absolute
    top 16px
    left 16px
    
    .field-container
        float left
        width 500px
        
separator
    width 0px
    height calc(100vh - 64px)
    border-right 2px solid ignorable1
    border-left 2px solid ignorable3
    display block
    position absolute
    left 550px
    top 16px
