page
    width 100%
    height calc(100vh - 30px)
    top 34px
    position absolute
    
leftcontainer
    width 600px
    height 600px
    position absolute
    top 16
    left 16
    
    .field-container
        float left