page
    width 100%
    height calc(100vh - 30px)
    top 34px
    position absolute
    
left-container
    width 600px
    height 300px
    position absolute
    top 16
    left 16
    
    .field-container
        float left
        width 500px
        
separator
    width calc(100% - 32px)
    height 0px
    border-bottom 2px solid ignorable1
    border-top 2px solid ignorable3
    margin-left 16px
    display block
    top 300px
    position absolute
    