search-bar-container
    width calc(100% - 584px)
    height 29px
    display block
    position absolute
    top 16px
    left 570px

search-bar-body
    display block
    position relative

search-label
    display block

search-items
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    display block
    background backgroundx2
    width calc(100% - 588px)
    height calc(100vh - 112px)
    position absolute
    top 60px
    left 570px