search-bar-container
    width calc(100% - 614px)
    height calc(100vh - 64px)
    display block
    position absolute
    top 16px
    left 598px

search-bar-body
    display block
    position relative

search-label
    display block
    
parameters-container
    display block
    height 25px
    width 200px
    border-bottom 2px solid ignorable1
    border-right 2px solid ignorable1
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    left 82px
    position absolute
    top 0px
    background backgroundx2
    
drop-down-button
    display block
    height 7px
    width 21px
    padding-top 13px
    border-bottom 2px solid ignorable3
    border-right 2px solid ignorable3
    border-top 2px solid ignorable1
    border-left 2px solid ignorable1
    background ignorable2
    float right
    
    &:hover
        triangle
            border-top 7px solid pointier
            
    &:active
        border-bottom 2px solid ignorable1
        border-right 2px solid ignorable1
        border-top 2px solid ignorable3
        border-left 2px solid ignorable3
        
drop-down-options-container
    width 200px
    height 50px
    background backgroundx2
    display block
    margin-left -2px
    margin-top 1px
    border 2px solid ignorable1
    

drop-down-option
    width 200px
    height 25px
    display block
    cursor pointer

    &:hover
        background offBlue
        
        words
            color pointier

    
triangle
  width 0
  height 0
  border-left 5px solid transparent
  border-right 5px solid transparent
  border-top 7px solid pointColor
  border-bottom 0px solid transparent
  margin-left 5px
  
