.button
  border-top 2px solid ignorable1
  border-left 2px solid ignorable1
  border-right 2px solid ignorable3
  border-bottom 2px solid ignorable3
  
  outline none
  font-family HFNSS
  color pointColor
  font-size 2em
  background ignorable2
  -webkit-font-smoothing none
  font-smooth none
  min-width 96px
  
  &:hover
    color pointier
  
  &:active
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    
  &.not-ready
    color ignorable0
    background ignorable1
    &:active
      border-top 2px solid ignorable1
      border-left 2px solid ignorable1
      border-right 2px solid ignorable3
      border-bottom 2px solid ignorable3