words
  font-family hfnss
  color pointColor
  font-size 2em
  -webkit-font-smoothing none
  
  &.vector
    font-family hfnss1
    font-size 8em
    -webkit-font-smoothing auto

warning
  font-family hfnss
  color importantText
  font-size 2em
  -webkit-font-smoothing none
  text-align left
  
  &.registration
      float left
      margin-left 100px
  
