

fieldlabel
    float left
    font-family hfnss
    color pointColor
    font-size 2em
    -webkit-font-smoothing none
    margin-top 5px

.register-field-container
    height 29px
    width 400px
    margin 0 auto
    margin-top 4px
    // margin-left 20px

.register-field
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1

    outline none
    font-family HFNSS
    color pointColor
    font-size 2em
    background backgroundx2
    -webkit-font-smoothing none
    font-smooth none
    height 29px
    width 300px
    display block
    
    float right
  
// fieldcontainer 
//   padding-left 97px
//   margin-top 4px
  
// fieldLabel 
  
    

// .color-selection
//   border-top 4px solid ignorable1
//   border-left 4px solid ignorable1
//   border-right 4px solid ignorable3
//   border-bottom 4px solid ignorable3
  
//   outline none
//   font-family HFNSS
//   color pointColor
//   font-size 2em
//   -webkit-font-smoothing none
//   font-smooth none
  
//   height 29px
  
//   cursor pointer
//   &.selected
//     border-top 4px solid ignorable3
//     border-left 4px solid ignorable3
//     border-right 4px solid ignorable1
//     border-bottom 4px solid ignorable1
    
//   &:active
//     border-top 4px solid ignorable3
//     border-left 4px solid ignorable3
//     border-right 4px solid ignorable1
//     border-bottom 4px solid ignorable1
    

// .width-200
//   width 200px

// .width-150
//   width 150px
  
// .width-65
//   width 65px
  
// .width-64
//   width 64px
  

// .form-row
//   padding-left 97px
//   margin-top 4px
  
// .form-field
//   display inline-block
//   width 125px
  
// .form-input
//   display inline-block