@font-face {
  font-family: HFNSS;
  src: url("./hfnss.ttf");
}
@font-face {
  font-family: HFNSS1;
  src: url("./HFNSSvector1.ttf");
}
@font-face {
  font-family: HFGAM;
  src: url("./hfgam.ttf");
}
@font-face {
  font-family: HFTIN;
  src: url("./hftin.ttf");
}
body {
  background: #2c2826;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: HFNSS;
  src: url("./hfnss.ttf");
}
@font-face {
  font-family: HFNSS1;
  src: url("./HFNSSvector1.ttf");
}
@font-face {
  font-family: HFGAM;
  src: url("./hfgam.ttf");
}
@font-face {
  font-family: HFTIN;
  src: url("./hftin.ttf");
}
body {
  background: #2c2826;
  padding: 0;
  margin: 0;
}
appbarbutton {
  border-top: 2px solid #57524f;
  border-left: 2px solid #57524f;
  border-right: 2px solid #131610;
  height: 22px;
  display: inline;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 2px;
  margin-left: 4px;
  float: left;
  text-align: center;
  cursor: pointer;
}
appbarbutton:hover words {
  color: #e0d6ca;
}
appbarbutton.selected words {
  color: #e0d6ca;
}
.button-bottom-border {
  color: #57524f;
  margin: 0;
  border: 1px solid;
  margin-left: -4px;
  margin-top: 2px;
  width: calc(100% + 6px);
}
.button-bottom-border.selected {
  color: #2c2826;
}
appbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 26px;
  margin-top: 4px;
  background: #2c2826;
  border-bottom: 2px solid #57524f;
}
.input-field {
  font-family: Arial;
  color: almostBlack;
  font-size: 2em;
  background-color: offWhite;
  border: 2px solid lightGray;
  outline: none;
}
.point {
  font-family: Arial;
  color: almostBlack;
}
.point.big {
  font-size: 4em;
}
words {
  font-family: hfnss;
  color: #b0a69a;
  font-size: 2em;
  -webkit-font-smoothing: none;
}
words.vector {
  font-family: hfnss1;
  font-size: 8em;
  -webkit-font-smoothing: auto;
}
